.info-container{
    width: 100%;
    height: 100%;
    background-color: rgb(182, 182, 182);
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    color: rgb(77, 70, 70);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 95vh;
    }

.curriculum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgb(243, 243, 243);
    background-color: white;
    box-shadow: -20px 20px 8px  rgba(165,42,42,0.9);
    margin: 25px 25px 25px 25px;
    border-radius: 5px;

    }

.curriculumb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-color: rgb(243, 243, 243);
  box-shadow: -20px 20px 8px  rgba(165,42,42,0.9);
  margin: 25px 25px 25px 25px;
  border-radius: 5px;
}
.resume{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 25px;
  padding: 0 75px 0 75px;
  line-height: 2.0;
}

.resume > h1{
  font-weight: bold;
}

.topics{
  width: 100%;
  padding-left: 75PX;
  padding-right: 75PX;
  display: flex;
  justify-content:space-between 
  
}

.topics h4{
  font-weight: bold;
}
.educamas1{
  width: 15%;
}

@media only screen and (max-width:744px){
  .info-container{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  }
  .curriculum{
    height: 95%;
    padding-top: 25px;
    margin: 25px 25px 0px 25px;
    box-shadow: 4px 2px 14px 3px  rgba(165,42,42,0.8);
    grid-row: 1 ;  
  }
  .curriculumb{
    height: 95%;  
    margin: 25px 25px 0px 25px;
    box-shadow: 4px 2px 14px 3px  rgba(165,42,42,0.8);
    grid-row: 2;
  }
  .resume{
    font-size: 15px;
    padding: 0 5px 0 5px;
  }
  .topics{
    font-size: 10px;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 0;
  }
  .topics h4{
    font-size: 10px;
  }
}
@media only screen and (min-width: 745px) and (max-width: 1024px){
  .info-container{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  }
  .curriculum{
    height: 95%;
    padding-top: 25px;
    margin: 25px 25px 0px 25px;
    box-shadow: 10px 16px 16px 8px  rgba(165,42,42,18);
    grid-row: 1 ;  
  }
  .curriculumb{
    height: 95%;  
    margin: 25px 25px 0px 25px;
    box-shadow: 10px 16px 16px rgba(165,42,42,18);
    grid-row: 2;
  }
  .resume{
    font-size: 28px;
    padding: 0 20px 0 20px;
  }
  .topics h4{
    font-size: 20px;
  }
  .topics{
    font-size: 20px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 0;
  }
  
}

@media only screen and (min-width: 1025px) and (max-width: 1512px){
  .info-container{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  }
  .curriculum{
    height: 95%;
    padding-top: 25px;
    margin: 25px 25px 0px 25px;
    box-shadow: 10px 16px 16px 8px  rgba(165,42,42,18);
    grid-row: 1 ;  
  }
  .curriculumb{
    height: 95%;  
    margin: 25px 25px 0px 25px;
    box-shadow: 10px 16px 16px rgba(165,42,42,18);
    grid-row: 2;
  }
  .resume{
    font-size: 28px;
    padding: 0 20px 0 20px;
  }
  .topics h4{
    font-size: 20px;
  }
  .topics{
    font-size: 20px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 0;
  }
  
}




