.footer-container {
  width: 100%;
  height: 100vh;
  background-color: brown;
  color: white;
  padding: 180px;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: -2;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0;
  right: 0;
}
.footer {
  width: 100%;
}
.div-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-form {
  color: white;
}

.form-mail {
  width: 25rem;
  height: 40rem;
  border: groove 3px #ffff;
  border-radius: 10px;
  box-shadow: -3px -2px 1px brown;
  background: brown;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 1rem;
  color: transparent;
}

label {
  font-size: 1.5rem;
  color: white;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  background-color: #cbcbcb;
  box-shadow: 0 -2px 2px rgb(199, 194, 194);
  border-radius: 5px;
  color: brown;
  font-weight: 600;
}

textarea {
  border-radius: 10px;
  background-color: #cbcbcb;
  padding: 0.5rem;
  color: brown;
  font-weight: 600;
}

button {
  width: 8rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(77, 70, 70);
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: rgb(77, 70, 70);
  font-size: 1rem;
  font-weight: bold;
  color: #ffff;
}

.design-by {
  font-size: 35px;
  color: white;
  padding-bottom: 50px;
}

.footer-info > h1 {
  font-size: 40px;
  font-weight: bold;
}

.footer-info {
  font-size: 35px;
  width: 100%;
  padding-bottom: 60px;
}

.footer-contact h3 {
  font-size: 22px;
  padding-bottom: 20px;
}

.sns-links {
  display: grid;
  width: 50%;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.linkedin,
.instagram {
  color: white;
  font-size: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
}

.linkedin:hover,
.instagram:hover {
  border-color: black;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 428px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  .footer {
    grid-row: 2;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .div-form {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
  }

  .title-form {
    color: white;
    font-size: 18px;
  }

  .form-mail {
    width: 15rem;
    height: 20rem;
    border: groove 3px #ffff;
    border-radius: 10px;
    box-shadow: -3px -2px 1px brown;
    background: brown;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.8);

    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
    width: 1rem;
    color: transparent;
  }

  label {
    font-size: 0.7rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  input {
    font-size: 0.9rem;
    background-color: #cbcbcb;
    box-shadow: 0 -2px 2px rgb(199, 194, 194);
    border-radius: 5px;
    color: #ffff;
  }

  textarea {
    border-radius: 10px;
    background-color: #cbcbcb;
    font-size: 0.8rem;
  }

  button {
    width: 8rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(77, 70, 70);
    cursor: pointer;
  }

  button:hover,
  button:focus {
    background-color: rgb(77, 70, 70);
    font-size: 1rem;
    font-weight: bold;
    color: #ffff;
  }

  .design-by {
    font-size: 10px;
    color: white;
    padding-bottom: 0px;
    padding-top: 25px;
  }

  .footer-info > h1 {
    font-size: 15px;
    font-weight: bold;
  }

  .footer-info {
    font-size: 10px;
    width: 100%;
    padding-bottom: 0px;
  }

  .footer-contact h3 {
    font-size: 10px;
    padding-bottom: 0px;
  }

  .sns-links {
    display: grid;

    width: 100%;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }

  .linkedin,
  .instagram {
    color: white;
    font-size: 15px;
    margin: 0 auto;
    padding-bottom: 0px;
    border-bottom: 4px solid transparent;
  }

  .linkedin:hover,
  .instagram:hover {
    border-color: black;
    transition: all 0.3s ease-out;
  }
}



@media only screen and (min-width: 429px) and (max-width: 744px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  .footer {
    grid-row: 2;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .div-form {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
  }

  .title-form {
    color: white;
    font-size: 18px;
  }

  .form-mail {
    width: 20rem;
    height: 35rem;
    border: groove 3px #ffff;
    border-radius: 10px;
    box-shadow: -3px -2px 1px brown;
    background: brown;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.8);

    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
    width: 1rem;
    color: transparent;
  }

  label {
    font-size: 0.9rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  input {
    font-size: 1rem;
    background-color: #cbcbcb;
    box-shadow: 0 -2px 2px rgb(199, 194, 194);
    border-radius: 5px;
    color: #ffff;
  }

  textarea {
    border-radius: 10px;
    background-color: #cbcbcb;
    font-size: 0.9rem;
  }

  button {
    width: 8rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(77, 70, 70);
    cursor: pointer;
  }

  button:hover,
  button:focus {
    background-color: rgb(77, 70, 70);
    font-size: 1rem;
    font-weight: bold;
    color: #ffff;
  }

  .design-by {
    font-size: 10px;
    color: white;
    padding-bottom: 0px;
    padding-top: 25px;
  }

  .footer-info > h1 {
    font-size: 15px;
    font-weight: bold;
  }

  .footer-info {
    font-size: 10px;
    width: 100%;
    padding-bottom: 0px;
  }

  .footer-contact h3 {
    font-size: 10px;
    padding-bottom: 0px;
  }

  .sns-links {
    display: grid;

    width: 100%;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }

  .linkedin,
  .instagram {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 0px;
    border-bottom: 4px solid transparent;
  }

  .linkedin:hover,
  .instagram:hover {
    border-color: black;
    transition: all 0.3s ease-out;
  }
}

/*T   a    b   l   e   t   */

@media only screen and (min-width: 745px) and (max-width: 1023px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 40px 20px 40px; 
  }
  .footer {
    grid-row: 2;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .div-form {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
  }

  .title-form {
    color: white;
    font-size: 38px;
  }

  .form-mail {
    width: 27rem;
    height: 35rem;
    border: groove 3px #ffff;
    border-radius: 10px;
    background: brown;
    box-shadow: -25px 20px 20px rgba(0, 0, 0, 0.8);

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
    width: 1rem;
    color: transparent;
  }

  label {
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  input {
    font-size: 1.5rem;
    background-color: #cbcbcb;
    box-shadow: 0 -2px 2px rgb(199, 194, 194);
    border-radius: 8px;
    color: #ffff;
  }

  textarea {
    border-radius: 10px;
    background-color: #cbcbcb;
    font-size: 1.2rem;
  }

  button {
    width: 9rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(77, 70, 70);
    cursor: pointer;
  }

  button:hover,
  button:focus {
    background-color: rgb(77, 70, 70);
    font-size: 1rem;
    font-weight: bold;
    color: #ffff;
  }

  .design-by {
    font-size: 15px;
    color: white;
    padding-bottom: 0px;
    padding-top: 25px;
  }

  .footer-info > h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .footer-info {
    font-size: 15px;
    width: 100%;
    padding-bottom: 0px;
  }

  .footer-contact h3 {
    font-size: 15px;
    padding-bottom: 0px;
  }

  .sns-links {
    display: grid;

    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .linkedin,
  .instagram {
    color: white;
    font-size: 40px;
    margin: 0 auto;
    padding-bottom: 0px;
    border-bottom: 4px solid transparent;
  }

  .linkedin:hover,
  .instagram:hover {
    border-color: black;
    transition: all 0.3s ease-out;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1512px) {
  .footer-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 40px 40px 20px 40px; 
  }
  .footer {
    grid-column: 1;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .div-form {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 45px;
  }

  .title-form {
    color: white;
    font-size: 38px;
  }

  .form-mail {
    width: 20rem;
    height: 28rem;
    border: groove 3px #ffff;
    border-radius: 10px;
    background: brown;
    box-shadow: -25px 20px 20px rgba(0, 0, 0, 0.8);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
    width: 1rem;
    color: transparent;
  }

  label {
    font-size: 1rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  input {
    font-size: 1.3rem;
    background-color: #cbcbcb;
    box-shadow: 0 -2px 2px rgb(199, 194, 194);
    border-radius: 8px;
    color: #ffff;
  }

  textarea {
    border-radius: 10px;
    background-color: #cbcbcb;
    font-size: 1.0rem;
    padding-bottom: 1rem;
  }

  button {
    width: 9rem;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(77, 70, 70);
    cursor: pointer;
  }

  button:hover,
  button:focus {
    background-color: rgb(77, 70, 70);
    font-size: 1rem;
    font-weight: bold;
    color: #ffff;
  }

  .design-by {
    font-size: 20px;
    color: white;
    padding-bottom: 0px;
    padding-top: 25px;
  }

  .footer-info > h1 {
    font-size: 35px;
    font-weight: bold;
  }

  .footer-info {
    font-size: 20px;
    width: 100%;
    padding-bottom: 0px;
  }

  .footer-contact h3 {
    font-size: 20px;
    padding-bottom: 50px;
  }

  .sns-links {
    display: grid;

    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .linkedin,
  .instagram {
    color: white;
    font-size: 45px;
    margin: 0 auto;
    padding-bottom: 0px;
    border-bottom: 4px solid transparent;
  }

  .linkedin:hover,
  .instagram:hover {
    border-color: black;
    transition: all 0.3s ease-out;
  }
}