.proyects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: brown;
    height: 100vh;
    width: 100%;    
    }

.sliderContainer a{
    text-decoration: none;
}
.sliderContainer h3{
    background-color: #CED4D4;
    color:brown; 
    font-weight: 600;
    border-radius: 5px;
    box-shadow: -10px 20px 10px  rgba(0,0,0,0.6);
    font-size: 10px;
    list-style: none;
    text-decoration: none;
}

.icon{
    width: 50px;
    height: 50px;
}

.proyectsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 0 100px 0 100px;
}

.proyectsText > h3{
    font-size: 80px;
}

.proyectsText > p{
    text-align: justify;
    line-height: 1.5;
    font-size: 25px;    
}
.sliderContainer{
    width: 95%;
    padding: 25% 0 25% 10%;

    }


@media only screen and (max-width:744px){
    .proyects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
       }
    .proyectsText{
        grid-row: 1;
        padding: 20px 10px 0 10px;
    }
    .proyectsText h3{
        margin-bottom: 5px;
        font-size: 25px;
       
    }
    .proyectsText > p{
        line-height: 1.5;
        font-size: 13px;    
    }

    .sliderContainer{
        grid-row: 2;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        padding: 25px 0 25px 0;
        margin-left: 32px;
        width: 80%;    
     }
     .sliderContainer h3{
        font-weight: 600;
        border-radius: 5px;
        box-shadow: -8px 7px 5px  rgba(0,0,0,0.6);
        font-size: 5px;
    }
     .icon{
        width: 10px;
        height: 10px;
     }

    .textSlider{
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (min-width: 745px) and (max-width: 1023px){
    .proyects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
       }
    .proyectsText{
        grid-row: 1;
        padding: 30px 40px 0 40px;
    }
    .proyectsText h3{
        margin-bottom: 5px;
        font-size: 35px;
       text-align: center;
    }
    .proyectsText > p{
        line-height: 1.5;
        font-size: 20px;    
    }

    .sliderContainer{
        grid-row: 2;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        padding: 25px 0 25px 0;
        margin-left: 57px;
        width: 85%;    
     }
     .sliderContainer h3{
        font-weight: 600;
        border-radius: 5px;
        box-shadow: -10px 10px 8px  rgba(0,0,0,0.6);
        font-size: 12.5px;
    }
     .icon{
        width: 14px;
        height: 14px;
     }

    .textSlider{
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (min-width: 1024px) and (max-width: 1512px){
    .proyects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
       }
    .proyectsText{
        grid-column: 2;
        padding: 0 70px 0 40px;
        margin-top: -0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .proyectsText h3{
        margin-bottom: 5px;
        font-size: 35px;
       text-align: center;
    }
    .proyectsText > p{
        line-height: 1.5;
        font-size: 23px;    
    }

    .sliderContainer{
        grid-column: 1;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        
        margin-left: 57px;
        width: 90%;    
     }
     .sliderContainer h3{
        font-weight: 600;
        border-radius: 5px;
        box-shadow: -10px 10px 8px  rgba(0,0,0,0.6);
        font-size: 10px;
    }
     .icon{
        width: 14px;
        height: 14px;
     }

    .textSlider{
        display: flex;
        flex-direction: column;
    }
    
}